body {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    

    
}

.container { 
    background-color: whitesmoke;
    opacity: .98;
    box-shadow: whitesmoke 5px 5px 50px;
    border-radius: .5em;
    border: solid rgba(0, 0, 0, 0.548) 1px;
    box-shadow: 5px 5px 20px;
    padding: 100px 100px;
    width: 700px;
    position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     text-align: center;
     z-index: -4;

     
}
#highScores {
    position: fixed;
    top: 5px;
    left: 5px;
    font-size: 20px;
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 20px 20px;
    outline: none;
    color: purple;
    font-weight: bold;
}

#highScores:hover {
    cursor: pointer;
    transform: scale(1.1);
    border-radius: .5em;
}

.high_scores:active {
    transform: scale(0.9);
}
.time {
    background-color:black;
    border: solid black 1px;
    box-shadow: grey 5px 5px 7px;
    color: whitesmoke;
    display: none;
    font-weight: bold; 
    position: fixed;
    top: 5px;
    right: 5px;
    margin-top: 0px;
    padding: 10px 10px;
    border-radius: .5em;

}

.title {
    margin: 0px 0px;
    font-size: 50px;
    z-index: -4;
    text-shadow: grey 3px 3px 5px;
}

.contents {
    margin-top: 15px;
    font-weight: bold;
    font-size: 24px;
    z-index: -4;
}
.btn{
    background-color: #815aa6;
    color: whitesmoke;
    text-shadow: 3px 3px 4px black;
    padding: 10px;
    display: block;
    font-weight: bold;
    font-size: 28px;
    border-radius: .5em;
    outline: none;
    margin: auto;
    z-index: -4;
}

.btn:hover, .answer:hover {
    background-color: #815aa6;
    cursor: pointer;
}

.btn:active, .answer:active {
    transform: scale(0.9);
}


.answer {
    height: 70px;
    padding: 10px, 10px;
    width: 300px;
    margin-right: 10px;
    background-color: #815aa6;
    color: whitesmoke;
    text-shadow: 3px 3px 4px black;
    padding: 10px;
    font-weight: bold;
    font-size: 28px;
    border-radius: .5em;
    outline: none;
    z-index: -4;


}




.high_score_list {
    border-radius: .5em;
    width: 600px;
    height: 600px;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: whitesmoke;
    text-shadow: 2px 2px 4px grey;
    z-index: 2;
}

#fadeOut {
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: .7;
    z-index: -1;
    position: fixed;
    top: 0;
    right: 0;
}

.scoreTitle {
    text-align: center;
}

.exitBtn {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 40px;
    height: 50px;
    width: 50px;
    z-index: 2;
    background-color: transparent;
    color: white;
    outline: none;
    border: none;
}

.exitBtn:hover {
    transform: scale(1.1);

}

.exitBtn:active {
    transform: scale(0.9);
    

}
