body {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('./imgs/autumn-studio-PaM7SD5wM6g-unsplash.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

    
}

.container { 
    background-color: rgba(245, 245, 245, 0.973);
    opacity: .98;
    box-shadow: 5px 5px 50px;
    border-radius: .5em;
    border: solid rgba(0, 0, 0, 0.548) 1px;
    box-shadow: 5px 5px 20px;
    padding: 100px 100px;
    width: 50%;
    position: fixed;
    padding: 20px 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: -4;

     
}
#highScores {
    position: fixed;
    top: 1px;
    left: 1px;
    font-size: 16px;
    background-color: transparent;
    border: none;
    text-shadow: black 3px 2px 2px;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: none;
    color: white;
    font-weight: bold;
}

#highScores:hover {
    cursor: pointer;
    border-radius: .5em;
    color: gainsboro;
}

.time {
    background-color:black;
    border: solid black 1px;
    box-shadow: grey 5px 5px 7px;
    color: whitesmoke;
    display: none;
    font-weight: bold; 
    position: fixed;
    top: 5px;
    right: 5px;
    margin-top: 0px;
    padding: 10px 10px;
    border-radius: .5em;

}

.title {
    font-size: 60px;
    z-index: -4;
    text-shadow: grey 3px 3px 5px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.contents {
    margin-top: 20px;
    font-weight: bold;
    font-size: 24px;
    z-index: -4;

}
.btn{
    background-image: url(./imgs/autumn-studio-PaM7SD5wM6g-unsplash.jpg);
    color: whitesmoke;
    text-shadow: 3px 3px 4px black;
    padding: 10px;
    display: block;
    font-weight: bold;
    font-size: 28px;
    border-radius: .5em;
    outline: none;
    margin: auto;
    z-index: -4;
}

.btn:hover, .answer:hover {
    cursor: pointer;
    color: gainsboro;
}

.btn:active, .answer:active {
    transform: scale(0.9);
}


.answer {
    height: 70px;
    padding: 10px, 10px;
    width: 240px;
    margin-right: 10px;
    background-image: url(./imgs/autumn-studio-PaM7SD5wM6g-unsplash.jpg);
    color: whitesmoke;
    text-shadow: 3px 3px 4px black;
    padding: 10px;
    font-weight: bold;
    font-size: 24px;
    border-radius: .5em;
    outline: none;
    z-index: -4;


}

#userIntinput {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    background-color: transparent;
    border: inset;
    outline: none;
    background-color: black;
    text-transform: uppercase;
    color: white;
    margin-bottom: 10px;
}

#saveScore {
    height: 50px;
    width: 50px;
    background-image: url('./imgs/save-button-icon-1.jpg');
    background-size: contain;
    border: none;
    outline: none;
    position: relative;
}




.high_score_list {
    border-radius: .5em;
    width: 50%;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: whitesmoke;
    text-shadow: 2px 2px 4px grey;
    z-index: 2;
}

#fadeOut {
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: .7;
    z-index: -1;
    position: fixed;
    top: 0;
    right: 0;
}

.scoreTitle {
    text-align: center;
}

.exitBtn {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 40px;
    height: 50px;
    width: 50px;
    z-index: 2;
    background-color: transparent;
    color: white;
    outline: none;
    border: none;
}

.exitBtn:hover {
    transform: scale(1.1);

}

.exitBtn:active {
    transform: scale(0.9);
    

}


@media (max-width: 990px) {
    .title {
        font-size: 8vw;
    }
    .contents {
        font-size: 20px;
    }
   .container {
       width: 90%;
       padding: 10px 10px;
   }
   .high_score_list {
       width: 100%;
   }
}